<div class="products-container-global">
    <h1 class="products-heading">Products</h1>

    <div class="brands-container">
        <div class="brands-logo-container">
            <div class="faili-logo-container">
                <div class="dropdown">
                    <button class="faili-logo-dropdown-btn" type="button" data-bs-toggle="dropdown">
                        <img class="brands-logo" src="assets/Images/Faili-Logo-Transparent.svg" alt="faili logo">
                    </button>
                    <ul class="dropdown-menu faili-logo-dropdown-menu">
                        <li><a class="dropdown-item faili-dropdown-option"
                                (click)="scrollToSection('shredders')">Shredders</a></li>
                        <li><a class="dropdown-item faili-dropdown-option" (click)="scrollToSection('files')">Files</a>
                        </li>
                        <li><a class="dropdown-item faili-dropdown-option"
                                (click)="scrollToSection('file-divider')">Dividers</a></li>
                    </ul>
                </div>
            </div>
            <div class="super-note-logo-container">
                <a (click)="scrollToSection('super-note')">
                    <img class="brands-logo" src="assets/Images/SuperNote-Logo.svg" alt="supernote logo">
                </a>
            </div>
        </div>
    </div>

    <!-- SuperNote Section -->
    <div id="super-note-section" class="products-container">
        <h2 class="heading-center">Super Note</h2>
        <div class="supernote-container">
            <div class="card supernote-card" *ngFor="let superNote of superNotes">
                <div class="product-card-img-container">
                    <!-- Super Note Carousel -->
                    <div [id]="'superNoteCarousel' + superNote.id" class="carousel slide carousel-fade">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let img of superNote.carouselImgs; let i = index"
                                [ngClass]="{ 'active': i === 0 }">
                                <img src="{{ img }}" class="card-img-top supernote-img" alt="files"
                                    [loading]="i === 0 ? 'eager' : 'lazy'">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                            [attr.data-bs-target]="'#superNoteCarousel' + superNote.id" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            [attr.data-bs-target]="'#superNoteCarousel' + superNote.id" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title product-card-title files-card-title">
                        <a [routerLink]="['/products', 'super-notes', superNote.id]" class="product-details-link">{{
                            superNote.name }}</a>
                    </h5>
                    <p class="card-text product-card-description">{{superNote.description}}</p>
                </div>
            </div>
        </div>
        <div class="get-quote-container">
            <a routerLink="/contact-us" class="get-quote-btn">Get a quote</a>
        </div>
    </div>

    <!-- Shredders Section -->
    <div id="shredders-section" class="products-container">
        <h2 class="heading-center">Shredders</h2>
        <div class="shredders-container">
            <div class="card shredder-card" *ngFor="let shredder of shredders">
                <div class="product-card-img-container">
                    <!-- Shredder Carousel -->
                    <div [id]="'shredderCarousel' + shredder.id" class="carousel slide carousel-fade">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let img of shredder.carouselImgs; let i = index"
                                [ngClass]="{ 'active': i === 0 }">
                                <img src="{{ img }}" class="card-img-top shredder-img" alt="shredder"
                                    [loading]="i === 0 ? 'eager' : 'lazy'">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                            [attr.data-bs-target]="'#shredderCarousel' + shredder.id" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            [attr.data-bs-target]="'#shredderCarousel' + shredder.id" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title product-card-title">
                        <a [routerLink]="['/products', 'shredders', shredder.id]" class="product-details-link">{{
                            shredder.name }}</a>
                    </h5>
                    <p class="card-text">{{ shredder.description }}</p>
                </div>
            </div>
        </div>
        <div class="get-quote-container">
            <a routerLink="/contact-us" class="get-quote-btn">Get a quote</a>
        </div>
    </div>

    <!-- Files Section -->
    <div id="files-section" class="products-container">
        <div class="files-flex-container">
            <div class="files-heading-container">
                <h2 class="files-heading-h2">Files</h2>
            </div>
            <div class="files-filter-container">
                <button class="filter-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter <i class="bi bi-funnel"></i>
                </button>
                <div class="dropdown-menu file-filter-menu" aria-labelledby="dropdownMenuButton">
                    <label class="dropdown-item">
                        <input type="checkbox" [(ngModel)]="filterOptions.all" (change)="toggleAllOptions()" /> All
                    </label>
                    <div class="dropdown-divider"></div>
                    <ng-container *ngFor="let option of filterOptions.options">
                        <label class="dropdown-item">
                            <input type="checkbox" [(ngModel)]="option.checked" (change)="updateAllCheckbox()" /> {{
                            option.label }}
                        </label>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="two-inch-A4-PP-Box-container"
            *ngIf="filterOptions.all || checkedFiles.includes('2 inch A4 PP Box')">
            <h3 class="files-heading">2 inch A4 PP Box</h3>
            <div class="files-container">
                <div class="card files-card" *ngFor="let fileBox of twoInchA4Files">
                    <div class="file-box-img-container">
                        <!-- File Box Carousel -->
                        <div [id]="'fileBoxCarousel' + fileBox.id" class="carousel slide carousel-fade">
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let img of fileBox.carouselImgs; let i = index"
                                    [ngClass]="{ 'active': i === 0 }">
                                    <img src="{{ img }}" class="card-img-top file-img" alt="file box" loading="lazy">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                [attr.data-bs-target]="'#fileBoxCarousel' + fileBox.id" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                [attr.data-bs-target]="'#fileBoxCarousel' + fileBox.id" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body files-card-body">
                        <h5 class="card-title product-card-title files-card-title">
                            <a [routerLink]="['/products', '2-inch-a4-files', fileBox.id]"
                                class="product-details-link">{{ fileBox.name }}</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="two-inch-FC-PP-Box-container"
            *ngIf="filterOptions.all || checkedFiles.includes('2 inch FC PP Box')">
            <h3 class="files-heading">2 inch FC PP Box</h3>
            <div class="files-container">
                <div class="card files-card" *ngFor="let fileBox of twoInchFCFiles">
                    <div class="file-box-img-container">
                        <!-- File Box Carousel -->
                        <div [id]="'fileBoxCarousel' + fileBox.id" class="carousel slide carousel-fade">
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let img of fileBox.carouselImgs; let i = index"
                                    [ngClass]="{ 'active': i === 0 }">
                                    <img src="{{ img }}" class="card-img-top file-img" alt="file box" loading="lazy">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                [attr.data-bs-target]="'#fileBoxCarousel' + fileBox.id" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                [attr.data-bs-target]="'#fileBoxCarousel' + fileBox.id" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body files-card-body">
                        <h5 class="card-title product-card-title files-card-title">
                            <a [routerLink]="['/products', '2-inch-fc-files', fileBox.id]"
                                class="product-details-link">{{ fileBox.name }}</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="three-inch-A4-PP-Box-container"
            *ngIf="filterOptions.all || checkedFiles.includes('3 inch A4 PP Box')">
            <h3 class="files-heading">3 inch A4 PP Box</h3>
            <div class="files-container">
                <div class="card files-card" *ngFor="let fileBox of threeInchA4Files">
                    <div class="file-box-img-container">
                        <!-- File Box Carousel -->
                        <div [id]="'fileBoxCarousel' + fileBox.id" class="carousel slide carousel-fade">
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let img of fileBox.carouselImgs; let i = index"
                                    [ngClass]="{ 'active': i === 0 }">
                                    <img src="{{ img }}" class="card-img-top file-img" alt="file box" loading="lazy">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                [attr.data-bs-target]="'#fileBoxCarousel' + fileBox.id" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                [attr.data-bs-target]="'#fileBoxCarousel' + fileBox.id" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body files-card-body">
                        <h5 class="card-title product-card-title files-card-title">
                            <a [routerLink]="['/products', '3-inch-a4-files', fileBox.id]"
                                class="product-details-link">{{ fileBox.name }}</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="three-inch-FC-PP-Box-container"
            *ngIf="filterOptions.all || checkedFiles.includes('3 inch FC PP Box')">
            <h3 class="files-heading">3 inch FC PP Box</h3>
            <div class="files-container">
                <div class="card files-card" *ngFor="let fileBox of threeInchFCFiles">
                    <div class="file-box-img-container">
                        <!-- File Box Carousel -->
                        <div [id]="'fileBoxCarousel' + fileBox.id" class="carousel slide carousel-fade">
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let img of fileBox.carouselImgs; let i = index"
                                    [ngClass]="{ 'active': i === 0 }">
                                    <img src="{{ img }}" class="card-img-top file-img" alt="file box" loading="lazy">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                [attr.data-bs-target]="'#fileBoxCarousel' + fileBox.id" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                [attr.data-bs-target]="'#fileBoxCarousel' + fileBox.id" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body files-card-body">
                        <h5 class="card-title product-card-title files-card-title">
                            <a [routerLink]="['/products', '3-inch-fc-files', fileBox.id]"
                                class="product-details-link">{{ fileBox.name }}</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="three-inch-A4-Marble-Box-container"
            *ngIf="filterOptions.all || checkedFiles.includes('3 inch A4 Marble Laminated Box')">
            <h3 class="files-heading">3 inch A4 Marble Box</h3>
            <div class="files-container">
                <div class="card files-card" *ngFor="let fileBox of threeInchA4MarbleFiles">
                    <div class="file-box-img-container">
                        <!-- File Box Carousel -->
                        <div [id]="'fileBoxCarousel' + fileBox.id" class="carousel slide carousel-fade">
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let img of fileBox.carouselImgs; let i = index"
                                    [ngClass]="{ 'active': i === 0 }">
                                    <img src="{{ img }}" class="card-img-top file-img" alt="file box" loading="lazy">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                [attr.data-bs-target]="'#fileBoxCarousel' + fileBox.id" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                [attr.data-bs-target]="'#fileBoxCarousel' + fileBox.id" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body files-card-body">
                        <h5 class="card-title product-card-title files-card-title">
                            <a [routerLink]="['/products', '3-inch-a4-marble-files', fileBox.id]"
                                class="product-details-link">{{ fileBox.name }}</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="three-inch-FC-Marble-Box-container"
            *ngIf="filterOptions.all || checkedFiles.includes('3 inch FC Marble Laminated Box')">
            <h3 class="files-heading">3 inch FC Marble Box</h3>
            <div class="files-container">
                <div class="card files-card" *ngFor="let fileBox of threeInchFCMarbleFiles">
                    <div class="file-box-img-container">
                        <!-- File Box Carousel -->
                        <div [id]="'fileBoxCarousel' + fileBox.id" class="carousel slide carousel-fade">
                            <div class="carousel-inner">
                                <div class="carousel-item" *ngFor="let img of fileBox.carouselImgs; let i = index"
                                    [ngClass]="{ 'active': i === 0 }">
                                    <img src="{{ img }}" class="card-img-top file-img" alt="file box" loading="lazy">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                [attr.data-bs-target]="'#fileBoxCarousel' + fileBox.id" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                [attr.data-bs-target]="'#fileBoxCarousel' + fileBox.id" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body files-card-body">
                        <h5 class="card-title product-card-title files-card-title">
                            <a [routerLink]="['/products', '3-inch-fc-marble-files', fileBox.id]"
                                class="product-details-link">{{ fileBox.name }}</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="get-quote-container">
            <a routerLink="/contact-us" class="get-quote-btn">Get a quote</a>
        </div>
    </div>

    <!-- File Divider Section -->
    <div id="file-divider-section" class="products-container">
        <h2 class="heading-center">Dividers</h2>
        <div class="dividers-container">
            <div class="card dividers-card" *ngFor="let divider of fileDividers">
                <div class="product-card-img-container">
                    <!-- Super Note Carousel -->
                    <div [id]="'dividersCarousel' + divider.id" class="carousel slide carousel-fade">
                        <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let img of divider.carouselImgs; let i = index"
                                [ngClass]="{ 'active': i === 0 }">
                                <img src="{{ img }}" class="card-img-top dividers-img" alt="files" loading="lazy">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                            [attr.data-bs-target]="'#dividersCarousel' + divider.id" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            [attr.data-bs-target]="'#dividersCarousel' + divider.id" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="card-body card-body-dividers">
                    <h5 class="card-title product-card-title files-card-title">
                        <a [routerLink]="['/products', 'file-dividers', divider.id]" class="product-details-link">{{
                            divider.name }}</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="get-quote-container">
            <a routerLink="/contact-us" class="get-quote-btn">Get a quote</a>
        </div>
    </div>

</div>