.products-container-global {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}

.products-heading {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin: 0;
}

.products-container {
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-bottom: 2rem;
    max-width: 100%;
}

.product-card-title {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.75rem 0;
    margin: 0;
}

.product-details-link {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;

    &:hover {
        color: rgba(37, 61, 131, 1);
        font-size: 1.5rem;
    }
}

.product-card-description {
    font-size: 1rem;
    margin: 0;
}

.heading-center {
    text-align: center;
    padding-bottom: 2rem;
    margin: 0;
}

// <--------------------------------------- Brands Container --------------------------------------->
.brands-container {
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    margin-bottom: 2rem;
    max-width: 100%;
}

.brands-logo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.brands-logo {
    width: 8rem;
    animation: slideInLR 1s ease;
    transition: transform 0.3s ease;
}

.brands-logo:hover {
    transform: scale(1.1);
}

.faili-logo-dropdown-btn {
    border: none;
    background-color: transparent;
}

.faili-logo-dropdown-menu {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.faili-dropdown-option {
    padding: 0.5rem 1rem;
    margin: 0;
    font-size: 1.1rem;
    cursor: pointer;
}

.faili-dropdown-option:hover {
    background-color: rgba(37, 61, 131, 0.9);
    color: white;
    font-weight: bold;
    border-radius: 0.5rem;
}

.faili-logo-container {
    flex-basis: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.super-note-logo-container {
    flex-basis: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
// <--------------------------------------- Brands Container --------------------------------------->

// <--------------------------------------- Shreders --------------------------------------->

.shredders-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    place-items: center;
    gap: 1rem;
}


.shredder-img {
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid #dadada;
}

.shredder-card {
    width: 28rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; // Add this line
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    animation: slideInRL 1s ease;
}

// <--------------------------------------- Shreders --------------------------------------->

// <--------------------------------------- Files --------------------------------------->

.files-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    place-items: center;
    gap: 1rem;
}

.files-flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "spacer files-heading files-filter";
    padding: 0 1rem;
}


.files-heading-container {
    grid-area: files-heading;
    display: flex;
    justify-content: center;
    align-items: center;
}

.files-filter-container {
    grid-area: files-filter;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.filter-btn {
    border: none;
    border-radius: 5rem;
    background-color: rgba(37, 61, 131, 0.9);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem 0.7rem;
    margin: 0;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
        background-color: rgba(37, 61, 131, 1);
        color: #1fff9a;
    }
}

.file-filter-menu {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    font-size: 1.2rem;
}

.file-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid #dadada;
}

.files-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 19rem;
    box-sizing: border-box;
    animation: slideInLR 1s ease;
}

.files-heading-h2 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.files-heading {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
    margin: 0;
}

.files-card-body {
    padding: 1rem 0 0;
}
 
.files-card-title {
    padding: 0;
}

// <--------------------------------------- Files --------------------------------------->

// <--------------------------------------- Divider Note --------------------------------------->

.dividers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    place-items: center;
    gap: 1rem;
}


.dividers-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid #dadada;
}

.card-body-dividers {
    padding: 1rem 0 0;
}

.dividers-card-title {
    padding: 0;
}

.dividers-card {
    width: 28rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; // Add this line
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    animation: slideInLR 1s ease;
}

// <--------------------------------------- Divider Note --------------------------------------->

// <--------------------------------------- Super Note --------------------------------------->

.supernote-container {
    display: grid;
    place-items: center;
    // grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    // gap: 1rem;
}


.supernote-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid #dadada;
}

.supernote-card {
    width: 28rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; // Add this line
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    animation: slideInLR 1s ease;
}

// <--------------------------------------- Super Note --------------------------------------->

.get-quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

    .get-quote-btn {
        border-radius: 2rem;
        padding: 1rem 2rem;
        background-color: rgba(37, 61, 131, 0.9);
        color: #fff;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.05);
            transition: all 0.3s ease;
            background-color: rgba(37, 61, 131, 1);
            color: #1fff9a;
        }
    }
}


@media screen and (max-width: 1024px) {
    .shredders-container {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }

    .shredder-card {
        width: calc(100% - 1rem);
    }

    .dividers-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .dividers-card {
        width: calc(100% - 1rem);
    }

    .supernote-card {
        width: calc(28rem + 3rem);
    }
}


@media screen and (max-width: 991px) {
    .files-card {
        width: 20rem;
    }
}

@media screen and (max-width: 750px) {
    .files-container {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .files-card {
        width: 100%;
    }
}

@media screen and (max-width: 687px) {
    .shredder-card {
        width: calc(100% - 2rem);
    }

    .dividers-card {
        width: calc(100% - 2rem);
    }

    .supernote-card {
        width: calc(100% - 2rem);
    }
}

@media screen and (max-width: 592px) {
    .products-container-global {
        padding: 1rem;
    }

    .files-card {
        width: 100%;
    }
}

@media screen and (max-width: 559px) {
    .files-card {
        width: calc(100% - 2rem);
    }
}

@media screen and (max-width: 400px) {
    .products-container-global {
        padding: 1rem;
    }

    .files-card {
        width: calc(100%);
    }

    .shredders-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .shredder-card {
        width: 100%;
    }

    .dividers-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .dividers-card {
        width: 100%;
    }

    .supernote-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .supernote-card {
        width: 100%;
    }
}


// <--------------------------------------- Animations --------------------------------------->

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.get-quote-btn {
    transition: transform 0.3s ease;
}

.get-quote-btn:hover {
    transform: scale(1.05);
}

@keyframes slideInLR {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes slideInRL {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

// <--------------------------------------- Animations --------------------------------------->