<div class="footer-container">
    <div class="footer-company-details footer-grid-item">
        <div class="logo-container">
            <img src="assets/Images/Faili-Logo-Transparent-White.svg" alt="Faili Logo" class="footer-logo">
        </div>
        <div class="address-contact-container">
            <p class="footer-text"><span class="bold-text">Head Office:</span> Occidental Plaza, 3rd Floor Muthithi Rd, Nairobi, Kenya</p>
            <p class="footer-text"><span class="bold-text">Phone:</span> +254 717 324 545</p>
            <p class="footer-text"><span class="bold-text">Email:</span> info@faili.co.ke</p>
        </div>
    </div>
    <div class="footer-links footer-grid-item">
        <p class="footer-links-header">Useful Links</p>
        <ul class="footer-links-ul">
            <li>
                <a class="footer-links-li" routerLink="/home">
                    <i class="bi bi-chevron-right chevron"></i> <i class="bi bi-house"></i> Home
                </a>
            </li>
            <li>
                <a class="footer-links-li" routerLink="/products">
                    <i class="bi bi-chevron-right chevron"></i> <i class="bi bi-bag"></i> Products
                </a>
            </li>
            <li>
                <a class="footer-links-li" routerLink="/about-us">
                    <i class="bi bi-chevron-right chevron"></i> <i class="bi bi-person"></i> About Us
                </a>
            </li>
            <li>
                <a class="footer-links-li" routerLink="/contact-us">
                    <i class="bi bi-chevron-right chevron"></i> <i class="bi bi-telephone"></i> Contact Us
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="copy-right-container">
    <p class="copy-right-text">© {{ year }} Faili Limited. All Rights Reserved.</p>
</div>