.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columns with minimum width of 300px */
    background-color: rgba(37, 61, 131, 0.90);
    color: white;
}

.footer-grid-item {
    padding: 1rem;
}

.footer-company-details {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "logo"
        "address-contact";

    .logo-container {
        grid-area: logo;
        display: flex;
        align-items: center;
        
        .footer-logo {
            height: 5rem;
        }
    }
    
    .address-contact-container {
        grid-area: address-contact;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .footer-text {
        font-size: 1rem;
        letter-spacing: 0.05rem;
        margin: 0;
    }
}

.bold-text {
    font-weight: bold;
}

.footer-links {

    .footer-links-header {
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
        color: rgb(255, 255, 255);
        margin: 0;
        padding-bottom: 1rem;
    }

    .footer-links-ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-links-li {
        font-size: 1.1rem;
        letter-spacing: 0.05rem;
        color: rgb(255, 255, 255);
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            color: #1fff9a;
        }

        .chevron {
            color: #1fff9a;
            font-size: 0.75rem;
            padding-right: 0.5rem;
        }
    }
}

.copy-right-container {
    background-color: rgba(37, 61, 131, 0.83);

    .copy-right-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 0.05rem;
        color: rgb(255, 255, 255);
        margin: 0;
        padding: 1rem;
    }
}