<div class="footer-container">
    <div class="footer-company-details footer-grid-item">
        <div class="logo-container">
            <img src="assets/Images/Faili-Logo-Transparent.svg" alt="Faili Logo" class="footer-logo">
        </div>
        <div class="address-container">
            <p class="footer-text">2nd Floor, 8 West, Random Street, Westlands, Nairobi, Kenya</p>
        </div>
        <div class="contact-details-container">
            <p class="footer-text"><span class="bold-text">Phone:</span> +254 712 345 678</p>
            <p class="footer-text"><span class="bold-text">Email:</span> info@business.com</p>
        </div>
    </div>
    <div class="footer-links footer-grid-item">
        <p class="footer-links-header">Useful Links</p>
        <ul class="footer-links-ul">
            <li>
                <a class="footer-links-li" routerLink="/home">
                    <i class="bi bi-chevron-right chevron"></i>Home
                </a>
            </li>
            <li>
                <a class="footer-links-li" routerLink="/products">
                    <i class="bi bi-chevron-right chevron"></i>Products
                </a>
            </li>
            <li>
                <a class="footer-links-li" href="#">
                    <i class="bi bi-chevron-right chevron"></i>Brands
                </a>
            </li>
            <li>
                <a class="footer-links-li" routerLink="/about-us">
                    <i class="bi bi-chevron-right chevron"></i>About Us
                </a>
            </li>
            <li>
                <a class="footer-links-li" routerLink="/contact-us">
                    <i class="bi bi-chevron-right chevron"></i>Contact Us
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="copy-right-container">
    <p class="copy-right-text">© {{ year }} Company Name. All Rights Reserved.</p>
</div>