<nav class="navbar navbar-expand-md fixed-top" data-bs-theme="dark">
    <div class="container-fluid nav-container">
        <a class="navbar-brand nav-brand-container" href="#">
            <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24">
            Company Name
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#togglerMenu"
            aria-controls="togglerMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-flex-end" id="togglerMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-link-label" aria-current="page" [routerLink]="['/home']" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-label" href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-label" href="#">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-label" [routerLink]="['/about-us']" routerLinkActive="active">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-label" [routerLink]="['/contact-us']" routerLinkActive="active">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>