<div class="grid-container">
  <header class="header">
    <app-navbar></app-navbar>
  </header>
  <main class="main">
    Main Content
    <h1>Main Content</h1>
    <img src="https://placehold.co/600x400" alt="Placeholder Image 1">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt dui ac est congue fermentum. Aenean quis placerat metus, nec consequat lorem.</p>
    <img src="https://placehold.co/600x400" alt="Placeholder Image 2">
    <p>Sed non metus vel erat consequat tincidunt. Integer dapibus vitae lorem vel feugiat. Ut tincidunt lectus id nisi tempus aliquam.</p>
    <router-outlet></router-outlet>
    <button *ngIf="showScrollUpButton" class="scroll-up-button" (click)="scrollToTop()">
      <i class="fa fa-chevron-up"></i>
    </button>
  </main>
  <footer class="footer">Footer</footer>
</div>