<div class="about-us-container">
    <h1 class="about-us-heading">About Us</h1>
    <div class="about-us-card-container">
        <div class="about-us-card">
            <p>Faili is a versatile company offering an array of organizational solutions. From essential office tools like Stationary, Shredders and File Dividers to cutting-edge technology like the Supernote E-Ink Tablet, Faili specializes in simplifying your workspace. With a focus on efficiency and innovation, Faili is your go-to source for all things related to files, ensuring a clutter-free and productive environment.</p>
        </div>
    </div>
</div>