<div class="about-us-container">
    <h1 class="about-us-heading">About Us</h1>
    <div class="about-us-card-container">
        <div class="about-us-card">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Pariatur tenetur totam atque ducimus rem iure consequuntur quia asperiores, sit delectus 
                adipisci dicta sed, nemo reiciendis laboriosam fugit minus quis blanditiis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Pariatur tenetur totam atque ducimus rem iure consequuntur quia asperiores, sit delectus 
                adipisci dicta sed, nemo reiciendis laboriosam fugit minus quis blanditiis.</p>
        </div>
    </div>
</div>