<div class="error-container">
    <div class="error-card">
        <div class="emoji-container">
            <i class="bi bi-emoji-smile-upside-down face-icon error-text"></i>
        </div>
        <h1 class="number-404 error-text">404</h1>
        <h2 class="pnf-text error-text">Page not found</h2>
        <h3 class="error-description-text error-text">The page you were looking for doesn't exist or an error occurred.</h3>
        <div class="back-btn-container">
            <button class="back-btn"><a class="back-btn-text" routerLink="/"><i class="bi bi-arrow-left"></i> Home</a></button>
        </div>
    </div>
</div>
